<div class="page-section">
    <img class="page-section__image"
         src="{{ url('assets/images/heading--why-sponsor.jpg') }}"
         alt="{{ department }}">

    <section class="container py-5">
        {% markdown %}
            ## Why Sponsor AS and AS Productions?

            partnerships with AS and AS Productions allow for unique and exclusive access to the most coveted demographic, young college age individuals and local families.

            ### Benefits of Partnership Include

            - Awareness among thousands of energetic and dynamic students
            - Exclusive participation in activities that reach the entire CSUN community
            - Association with CSUN’s most prominent student organization and student programming board

            ### How Will My Partnership Funds Be Utilized?

            Corporate partnership money will help AS continue to bring the CSUN community quality high impact events while keeping the student cost at a minimum..

            ### What type of events can be sponsored?

            Our events can be categorized into three separate tiers depending on their size and frequency.
        {% endmarkdown %}

        {% set tiers = [
            {
                'id': 'sponsoring-tier-one',
                'title': 'Tier 1',
                'desc': 'Signature events within AS that occur annually',
            },
            {
                'id': 'sponsoring-tier-two',
                'title': 'Tier 2',
                'desc': 'Stand-alone events that happen during the spring semester',
            },
            {
                'id': 'sponsoring-tier-three',
                'title': 'Tier 3',
                'desc': 'Events that happen weekly throughout the course of a semester/summer',
            },
        ] %}

        <div class="row text-center">
            {% for tier in tiers %}
                <div class="mb-4 col-sm-6 col-lg-4 {% if loop.first %}col-sm-12{% endif %}">
                    <a class="t-2" href="#{{ tier.id }}">
                        <div class="card">
                            <div class="card-body">
                                <p><strong>{{ tier.title }}</strong></p>
                                <p class="color-white t-0">{{ tier.desc }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </section>
</div>
