{% macro event_cards(events, tier) %}
    <div class="row mb-4">
        {% for event in events %}
            <section class="col-lg-6 mb-4">
                <div class="card h-100">
                    {% set image_name = event.title | replace({ ' ': '_' }) %}
                    {% set full = 'assets/images/events/' ~ image_name ~ '.jpg' %}
                    {% set thumb = 'assets/images/events/' ~ image_name ~ '--thumbnail.jpg' %}

                    <a href="{{ full }}" class="no-underline">
                        <img class="card-img-top" src="{{ url(thumb) }}" alt="Students attending {{ event.title }}">
                    </a>

                    <div class="card-body">
                        <div class="card-title">
                            <div class="d-flex">
                                <h4 id="event-tier-{{ tier }}-{{ event.title | lower | replace({ ' ' : '-' }) }}" class="mr-1">{{- event.title -}}</h4>

                                {%- if event.url -%}
                                    <a class="no-underline mx-2" href="{{ event.url }}" title="Visit the website for {{ event.title }}">
                                        <span class="sr-only">Visit website</span>
                                        <i class="fa fa-link" aria-hidden="true"></i>
                                    </a>
                                {%- endif -%}

                                {%- if event.flickr -%}
                                    <a class="no-underline mx-2" href="{{ event.flickr }}" title="View images of {{ event.title }}">
                                        <span class="sr-only">View pictures of {{ event.title }}</span>
                                        <i class="fa fa-photo" aria-hidden="true"></i>
                                    </a>
                                {%- endif -%}
                            </div>
                        </div>

                        <p class="card-text">{{ event.desc }}</p>
                    </div>
                    <div class="card-footer">
                        {{ event.footer | markdown | replace({ '<p': '<p class="m-0"' }) }}
                    </div>
                </div>
            </section>
        {% endfor %}
    </div>
{% endmacro %}
