{% macro comparison_table(perks, levels) %}
    {% set names = [
        'White',
        'Silver',
        'Black',
        'Red',
        'Matador',
    ] %}

    <h4>Contribution Perks</h4>

    <table class="w-100">
        <caption class="py-3">
            Included benefits to sponsoring events based on contributions. Depending on the needs of the event, either in-kind and monetary donations may be considered as acceptable forms of sponsorship.
        </caption>

        <thead>
            <tr>
                <th></th>

                {% set money_levels = levels | keys %}
                {% for i, name in names %}
                    <th class="border-left px-3 text-center {{ loop.last ? 'border-right' : '' }}">
                        {{ name }} <br>
                        <span class="t-2">${{ money_levels[i] | number_format(0) }}</span>
                    </th>
                {% endfor %}
            </tr>
        </thead>

        <tbody>
            {% for key, perk in perks %}
                <tr>
                    <td scope="col" class="px-3">{{ perk }}</td>

                    {% for level in levels %}
                        <td class="border-left py-3 text-center {{ loop.last ? 'border-right': '' }}">
                            {% if level[key] %}
                                <span class="sr-only">Included</span>
                                <i class="fa fa-check" aria-hidden="true"></i>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
